@charset "utf-8";

.header {
  width: 100%;
  min-height: 6vh;
  transition: all 0.8s;
  position: fixed;
  z-index: 99;
}

.header .inner-header {
  width: 100%;
  min-height: 6vh;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16vw;
  background-color: var(--color-3);
  z-index: 99;
  transition: all 1s ease-in-out;
  padding: 0 1.8rem;
  box-shadow: inset 0 0 5px 0 var(--color-4), 0 0 10px 0 var(--color-4);
}

.header .inner-header.go-left {
  gap: 4vw;
}

/* .dots-menu */
.header .inner-header .dot-menu {
  width: 6vh;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;
  padding: 4rem;
  transition: all 0.5s;
}

.header .inner-header .dot-menu.rotate {
  transform: rotate(45deg);
}

.header .inner-header .dot-menu .dot {
  transition: all 0.5s;
}

.header .inner-header .dot-menu .dot > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
}

.header .inner-header .dot-menu .dot > ul > li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: linear-gradient(rgb(106, 137, 161), rgba(10, 10, 10, 0.5));
  transition: all 0.5s;
  box-shadow: inset 0 0 2px 0 var(--color-4), 0 0 2px 0 var(--color-4);
}

.header .inner-header .dot-menu .dot:hover {
  transform: scale(1.2);
}

.header .inner-header .dot-menu .dot > ul > li.li1.trans1 {
  width: 11px;
  height: 3px;
  border-radius: 10%;
  background: linear-gradient(30deg, rgb(106, 137, 161), rgba(10, 10, 10, 0.5));
}

.header .inner-header .dot-menu .dot > ul > li.li2.trans2 {
  width: 3px;
  height: 30px;
  border-radius: 10%;
  background: linear-gradient(30deg, rgb(106, 137, 161), rgba(10, 10, 10, 0.5));
  transition: all 0.5s;
}

.header .inner-header h1.logo {
  width: 100%;
  min-height: 6vh;
  display: block;
  font-size: 3rem;
  line-height: 4.5vh;
  padding-top: 0.8vh;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.8s;
  background: linear-gradient(rgb(106, 137, 161), rgba(10, 10, 10, 0.5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .sub-header */
.header .sub-header {
  width: 35rem;
  height: 100vh;
  position: fixed;
  z-index: 9;
  left: -35rem;
  top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: all 0.8s;
  padding: 4rem;
  box-shadow: inset 0 0 5px 0 var(--color-4), 0 0 5px 0 var(--color-4);
  background: linear-gradient(
    180deg,
    rgb(197, 181, 181),
    rgb(255, 255, 255),
    rgb(197, 181, 181)
  );
}

.header .sub-header.go-out {
  left: 0;
}

.header .sub-header .nav {
  height: inherit;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header .sub-header .nav .gnb {
  position: absolute;
}

.header .sub-header .nav .gnb ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  transition: all 0.8s;
}

.header .sub-header .nav .gnb ul > li {
  color: var(--color-0);
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.8s;
}

.header .sub-header .nav .gnb.main > ul > li {
  color: transparent;
}

.header .sub-header .nav .gnb.sub > ul > li {
  color: var(--color-0);
  text-shadow: 0 0 1.5px var(--color-0);
}

/* --------------------------------- */

/* tablet */
@media only screen and (max-width: 959px) {
  .header .inner-header .dot-menu .dot > ul {
    gap: 2px;
  }

  .header .inner-header .dot-menu .dot > ul > li {
    width: 8px;
    height: 8px;
  }

  .header .inner-header .dot-menu .dot > ul > li.li1.trans1 {
    width: 9px;
    height: 2px;
    border-radius: 0;
  }

  .header .inner-header .dot-menu .dot > ul > li.li2.trans2 {
    width: 2px;
    height: 23px;
  }

  /* .sub-header */
}

/* mobile */
@media only screen and (max-width: 767px) {
  html {
    /* font-size: 35%; */
  }

  .header .inner-header .dot-menu .dot > ul > li {
    width: 6px;
    height: 6px;
  }

  .header .inner-header .dot-menu .dot > ul > li.li1.trans1 {
    width: 8px;
    height: 1.5px;
    border-radius: 0;
  }

  .header .inner-header .dot-menu .dot > ul > li.li2.trans2 {
    width: 1.5px;
    height: 21px;
  }

  /* .sub-header */
}
