@charset "utf-8";

#wrap {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.container {
  width: 100%;
  height: auto;
}

.container .inner-container {
  width: 100%;
  height: auto;
}

.container .inner-container .sections {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
}

.container .inner-container .sections .section {
  width: 100%;
  height: 100vh;
}

.container .inner-container .sections .section.sec1 {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.container .inner-container .sections .section.sec1 .slide-con {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.4s;
}

.container .inner-container .sections .section.sec1 .slide-con > ul {
  height: 200vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.container .inner-container .sections .section.sec1 .slide-con > ul > li {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    var(--color-6),
    var(--color-6),
    var(--color-6),
    var(--color-6),
    var(--color-7)
  );
  background-attachment: fixed;
}

.container .inner-container .sections .section.sec1 .slide-con > ul > li.li2 {
  background: linear-gradient(
    180deg,
    var(--color-7),
    var(--color-7),
    var(--color-6)
  );
  background-attachment: fixed;
}

.container
  .inner-container
  .sections
  .section.sec1
  .slide-con
  > ul
  > li
  h2.title {
  color: var(--color-2);
  font-size: 4rem;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  letter-spacing: 1rem;
  position: absolute;
  z-index: 8;
  transition: all 0.4s;
}

.container .inner-container .sections .section.sec1 .bcon {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
}

.container .inner-container .sections .section.sec1 .bcon .items {
  width: 4rem;
  height: auto;
}

.container .inner-container .sections .section.sec1 .bcon .items > ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.container .inner-container .sections .section.sec1 .bcon .items > ul > li {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: linear-gradient(90deg, var(--color-3), rgb(255, 255, 255));
  transition: all 0.4s;
  box-shadow: inset 0 0 2px 0 var(--color-4), 0 0 2px 0 var(--color-4);
}

.container
  .inner-container
  .sections
  .section.sec1
  .bcon
  .items
  > ul
  > li:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.container .inner-container .sections .section.sec1 .bcon .items > ul > li.on {
  box-shadow: 0 0 5px 2px rgb(255, 255, 255);
}

/* li>pure-con */
.container
  .inner-container
  .sections
  .section.sec1
  .slide-con
  > ul
  > li
  .pure-con {
  width: 100%;
  height: 60rem;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  transition: all 0.4s;
  position: relative;
}

.container
  .inner-container
  .sections
  .section.sec1
  .slide-con
  > ul
  > li
  .pure-con
  .wave1 {
  width: 46rem;
  height: 38rem;
  position: absolute;
  border-radius: 60%;
  background-color: var(--color-6);
  opacity: 0.6;
  animation: rota 20s infinite linear;
  transition: all 0.4s;
  z-index: 5;
}

.container
  .inner-container
  .sections
  .section.sec1
  .slide-con
  > ul
  > li
  .pure-con
  .wave2 {
  width: 38rem;
  height: 36rem;
  position: absolute;
  border-radius: 40%;
  background-color: var(--color-6);
  animation: rota 15s infinite linear;
  transition: all 0.4s;
  z-index: 5;
}

@keyframes rota {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container
  .inner-container
  .sections
  .section.sec1
  .slide-con
  > ul
  > li
  .pure-con
  .stick {
  width: 34rem;
  height: 34rem;
  background-color: var(--color-3);
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  transition: all 0.4s;
  box-shadow: inset 0 0 3px 1px #0001, 0 2px 3px #0001;
}

/* .cube */

.container
  .inner-container
  .sections
  .section.sec1
  .slide-con
  > ul
  > li.li2
  span.cube {
  display: inline-block;
  position: relative;
}

.container
  .inner-container
  .sections
  .section.sec1
  .slide-con
  > ul
  > li.li2
  span.cube::before,
span.cube::after {
  content: "";
  width: 24rem;
  height: 24rem;
  border: 5px solid var(--color-2);
  position: absolute;
  left: 40%;
  top: -100%;
  z-index: 1;
  transition: all 0.4s ease 0s;
}

.container
  .inner-container
  .sections
  .section.sec1
  .slide-con
  > ul
  > li.li2
  span.cube::before {
  animation: rotate 20s infinite linear;
}

.container
  .inner-container
  .sections
  .section.sec1
  .slide-con
  > ul
  > li.li2
  span.cube::after {
  animation: rotate 25s infinite linear;
  box-shadow: 0 0 2px 0 var(--color-0);
}

.container
  .inner-container
  .sections
  .section.sec1
  .slide-con
  > ul
  > li.li2
  span.cube
  span.title {
  position: relative;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
  font-size: 2.4rem;
  text-transform: uppercase;
  color: var(--color-1);
  letter-spacing: 0.6rem;
  transition: all 0.4s ease 0s;
  top: 0;
  overflow: hidden;
  box-shadow: inset 0 0 5px 3px var(--color-5), 0 0 4px 0 var(--color-5);
}

.container
  .inner-container
  .sections
  .section.sec1
  .slide-con
  > ul
  > li.li2
  span.cube
  span.title::before,
span.title::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    180deg,
    var(--color-4),
    rgb(255, 255, 255),
    var(--color-4)
  );
  transition: all 0.4s ease 0s;
}

.container
  .inner-container
  .sections
  .section.sec1
  .slide-con
  > ul
  > li.li2
  span.cube
  span.title::before {
  left: 0;
  z-index: 2;
}

.container
  .inner-container
  .sections
  .section.sec1
  .slide-con
  > ul
  > li.li2
  span.cube
  span.title::after {
  right: 0;
}

.container
  .inner-container
  .sections
  .section.sec1
  .slide-con
  > ul
  > li.li2
  span.cube
  span.title
  span {
  position: relative;
  z-index: 2;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* --------------------------------- */

/* tablet */
@media only screen and (max-width: 959px) {
}

/* mobile */
@media only screen and (max-width: 767px) {
}
